#page{
    width: 980px;
    background-color: violet;
}

.menu{
    background-color:aqua;
}
table.menu{
    border : 2px solid;
}
td.menu{
    border-left-width: 5px;
    border-left-color: red;
    border-left-style: solid;
}

.maincontent{
    margin: 45px; 
    background-color: forestgreen;
}